
.container-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--wheat);
    width: 90%;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 10px 10px 15px 1px black;
}

.weather-input {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--light-green);
    width: 100%;
}

.btn {
    outline: none;
    border: none;
    background-color: var(--light-green);
    border-bottom: 2px solid var(--light-green);
    color: white;
    cursor: pointer;
    width: 100%;
}

.initial-msg {
    text-align: center;
}

.city-name {
    font-size: 28px;
}

/* Weather Description */

.weather-description {
    background-color: var(--light-green);
    padding: 2%;
}

.description {
    text-transform: capitalize;
}

.weather-description i {
    font-size: 18px;
}

.weather-icon {
    width: 50%;
    margin: 1% auto;
    display: block;
}

.lat {
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
}

/* error msg */

.err-msg {
    color: red;
    text-align: center;
}

.err-img {
    width: 100%;
    background-color: transparent;
}

@media (min-width: 768px) {

    .weather-input {
        width: 85%;
    }
    .btn {
        width: auto;
    }
    
}


@media (min-width: 1020px) {
    .container-weather {
        width: 50%;
        padding: 2%;
    }

    .city-name {
        font-size: 34px;
    }
}

@media (min-width: 1920px) {
    .container-weather {
        width: 30%;
    }
}